.cm-callout {
	/** padding-top: 10px !important; **/
}

.callout {
	/** even padding **/
	padding-left: 12px !important;
	border-color: var(--text-normal);
	border-image: none !important;
	border-width: 1px !important;
	background-color: transparent;
}

.callout-title {
	padding: 0px !important;
    align-items: center !important;
}

.callout-title, .callout-icon > svg {
	color: var(--text-normal);
}

.callout-content {
	/** centering content **/
	padding-left: 0px !important;
}
