/* /* Adjust printing style only to have column output 
   when the document is tagged with the fontmatter
   cssclass of 'columns'*/
@media print {

    /* Document title to go across entire page */
    /* h1:first-of-type { */
    /*     column-span: all; */
    /*     text-align: center; */
    /* } */

    /* Content broken up in columns */
    .markdown-preview-view:first-of-type {
        column-count: 2;
        column-rule: 1px solid #CCC;
        column-gap: 1em;
        height: 100%;
    }

    * {
        --neutral-red_x:    204,36,29; /* #cc241d */
        --neutral-red:      rgb(var(--neutral-red_x));
        --neutral-green_x:  152,151,26; /* #98971a */
        --neutral-green:    rgb(var(--neutral-green_x));
        --neutral-yellow_x: 215,153,33; /* #d79921 */
        --neutral-yellow:   rgb(var(--neutral-yellow_x));
        --neutral-blue_x:   69,133,136; /* #458588 */
        --neutral-blue:     rgb(var(--neutral-blue_x));
        --neutral-purple_x: 177,98,134; /* #b16286 */
        --neutral-purple:   rgb(var(--neutral-purple_x));
        --neutral-aqua_x:   104,157,106; /* #689d6a */
        --neutral-aqua:     rgb(var(--neutral-aqua_x));
        --neutral-orange_x: 214,93,14; /* #d65d0e */
        --neutral-orange:   rgb(var(--neutral-orange_x));

        --h1-color: var(--neutral-red);
        --h2-color: var(--neutral-yellow);
        --h3-color: var(--neutral-green);
        --h4-color: var(--neutral-aqua);
        --h5-color: var(--neutral-blue);
        --h6-color: var(--neutral-purple);
    }
}
