.metadata-container .internal-link, .markdown-rendered .internal-link,
.cm-hmd-internal-link, .cm-hmd-internal-link *, .cm-link-alias {
    text-decoration: underline;
    /* text-decoration-color: rgba(94,166,230,0.75); */
    text-decoration-color: var(--text-normal);
    text-decoration-style: solid;
    color: var(--text-normal) !important;
}

.metadata-container .internal-link:hover, .markdown-rendered .internal-link:hover,
.cm-hmd-internal-link:hover, .cm-hmd-internal-link *:hover, .cm-link-alias:hover,

.footnote-link {
    color: var(--text-normal);
}
